[Unit]
Description=Photobooth
BindsTo=mnt-photobooth.mount
After=mnt-photobooth.mount

[Service]
WorkingDirectory={{photobooth_user.homedir}}/app
Restart=on-failure
RestartSec=5s
TimeoutStartSec=0
SuccessExitStatus=0
ExecStart={{photobooth_virtualenv}}/bin/python -u photobooth.py

[Install]
WantedBy=multi-user.target
