[Unit]
Description=Photobooth
BindsTo={{photobooth_usb_mountpoint|regex_replace('^/|/$','')|regex_replace('/','-')}}.mount
After={{photobooth_usb_mountpoint|regex_replace('^/|/$','')|regex_replace('/','-')}}.mount

[Service]
WorkingDirectory={{photobooth_user.homedir}}/app
Restart=on-failure
RestartSec=5s
TimeoutStartSec=0
SuccessExitStatus=0
ExecStart={{photobooth_virtualenv}}/bin/python -u photobooth.py

[Install]
WantedBy=multi-user.target
