[options]
  UseSyslog
[rsync]
  sequence= 10000:udp
  command= rsync -lptgoD photobooth:{{photobooth_usb_mountpoint}}/* {{feh_config.path}} && kill -SIGUSR1 $(pgrep feh) && kill -SIGUSR2 $(pgrep feh)
