auto wlan0
allow-hotplug wlan0
iface wlan0 inet static
    address 10.200.0.1
    netmask 255.255.255.0
    network 10.200.0.0
    broadcast 10.200.0.255
    wpa-ap-scan 1
    wpa-scan-ssid 1
    wpa-ssid {{wifi_ssid}}
    wpa-psk {{wifi_passphrase}}
    wpa-driver nl80211
