xset s off -dpms
exec /usr/local/bin/feh --quiet --verbose --hide-pointer --recursive --randomize --auto-zoom --scale-down --slideshow-delay {{feh_config.delay}} --image-bg black --reload {{feh_config.reload}} {{feh_config.path}}
